:host {
  display: block;

  .resize {
    display: block;

    &.big {
      height: 400px;
    }
  }

  .crosshair-data {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #555;
    min-height: 30px;

    .label {
      color: #222
    }
  }
}
