<button (click)="showChart = !showChart">Toggle chart</button>

<hr/>
<div tvChartGroup tvChartSync tvChartCollector [tvChartBorder]="{borderColor:'#ff0000'}">
  <!--<div tvChart="Histogram" [seriesOptions]="{}" [data]="rsiValues" [options]="{height:200}"
       subscribeTest crosshairSubscribe [subscriptionCount]="subscriptionCount" [completed]="completed"></div>
  <div tvChart="Line" [seriesOptions]="{}" [data]="rsiValues" [options]="{height:200}"></div>-->
  <tv-candlestick-chart tvChartCollector [klines]="klines" [options]="{height:400}" (visibleLogicalRangeChanged)="onChartAction($event)"></tv-candlestick-chart>
  @if(showChart) {
    <div tvChart="Area" tvChartCollector
         [seriesOptions]="{}"
         [data]="rsiValues"
         [options]="{height:200}"
         (visibleLogicalRangeChanged)="onChartAction($event)"
         (chartClick)="onChartAction($event)"></div>
  }
</div>
