<button (click)="showChart = !showChart">Toggle chart</button>
<button (click)="showCharts = !showCharts">Toggle charts</button>
<button (click)="toggleGroup()">Toggle group</button>
<button (click)="toggleGroupCollection()">Toggle group collection</button>

<hr/>

<div tvChart="Candlestick" [data]="customData"></div>
<div [tvChartSync]="['one', 'two', 'four']" [tvChartCollector]="groupCollection()">
  @if(showCharts) {
  <div [tvChartGroup]="groupCharts()" [groupOptions]="groupOptions" tvChartCollector [tvChartBorder]="{borderColor:'#ff0000'}">
    <tv-candlestick-chart id="one" [data]="klines" [options]="{height:200}"></tv-candlestick-chart>
    @if(showChart) {
      <div tvChart="Area" id="two" [seriesOptions]="{}" [data]="rsiValues" [options]="{height:200}"></div>
    }
  </div>
  }
  <div tvChartCollector tvChartSync>
    <tv-candlestick-chart id="one" [data]="klines" [options]="{height:400, rightPriceScale: {minimumWidth: 80}}"></tv-candlestick-chart>
    <!--<div tvChart="Area" id="two" [seriesOptions]="{}" [data]="rsiValues" [options]="{height:200}"></div>-->
    <div tvChart="Histogram" id="three"  [data]="rsiValues" [options]="{height:200, rightPriceScale: {minimumWidth: 80}}"></div>
    <!--<div tvChart="Line" id="four" [data]="rsiValues" [options]="{height:200}"></div>-->
  </div>
</div>
